*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;

}
header{
  position: fixed;
  right: 0;
  top: 0;  
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background-color: transparent;
}

.logo{
  color: white;
  font-weight: 700;
  font-size: 30px;
}
.navlist{
  display: flex;
}
.navlist a{
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease-out;
}

.navlist a:hover{
  border-bottom: 2px solid white;
}
#menu-icon{
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.hero{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 8%, rgba(9,9,121,1) 58%, rgba(0,212,255,1) 100%);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2rem;

}
section{
  padding: 0 17%;
}
.hero-img{
  width: 700px;
  height: auto;
  background: transparent;
}


.hero-text h1{
  font-family: 'Dancing Script', cursive;
  font-size: 191px;
  line-height: 2;
  color: white;
  margin: 0 0 4px;
}
.hero-text p{
  color: white;
  font-size: 19px;
  line-height: 1.9;
  margin-bottom: 40px;
}
.hero-text a{
  display: inline-block;
  color: white;
  background: rgba(0,212,255,1);
  border: 1px solid transparent;
  padding: 14px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
}

.hero-text a:hover{
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}
.hero-text a.ctaa{
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}
.hero-text a i{
  vertical-align: middle;
  margin-right: 7px;
}

.icons{
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}

.icons i{
  display: block;
  margin: 26px 0;
  font-size: 46px 0;
  color: white;
  transition: all .50s ease;
}

.icons i:hover{
  color: rgba(0,212,255,1);
  transform: translateY(-5px);
}

@media (max-width:1530px){
  .header{
    padding: 15px 3%;
    transition: .2s;
  }
  .hero-img{
    width: 400px;
    height: auto;
  }

}
@media (max-width:1460px) {
  section{
    padding: 0 12%;
    transition: .2s;
  }
}
@media (max-width:1340px) {
  .hero-img img{
    width:100%;
    height: auto;
  }
  .hero-text h1{
    font-size: 75px;
    margin: 70px 0 2px;
  }
  .hero-text h5{
    margin-bottom: 25px;
  }
  .hero-text a{
    display: inline-block;
    padding: 6px 15px;
  }
  .hero-text a.ctaa{
    
    margin-left: 10px;
  }
}

@media (max-width:1200px) {
  section{
    padding: 0 3%;
    transition: .2s;
  }
  .hero-text{
    padding-top: 115px;
    width: 500px;
    text-align: center;
  }
  .hero-img{
    text-align: center;
    background: transparent;
    
  }
  .hero-img img{
    width: 560px;
    height: auto;
    background: transparent;
  }
  .hero{
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .hero-text a{
    display: block;
    margin: 10px;
    width: 200px

  }
}

  .icons{
    display: none;
  }
  .scroll-down{
    display: none;
  }

@media (max-width: 990px){
  #menu-icon{
    display: block;   
    font-size: 35px;
    color: white;
    cursor: pointer;
  }
  .navlist{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: rgba(0,212,255,1);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all .55s ease;
    
  }

  .navlist a{
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .navlist.open{
    right: 0;
  }

 
  .hero-text a{
    display: block;
    margin: 10px;

  }
}
@media (max-width:700px){
  .hero-img{
    width: 100%;
    height: auto;
  }
}
@media (max-width: 580px) {
  header {
    padding: 15px 3%;
  }

  section {
    padding: 0 10px;
  }

  .hero-text h1 {
    font-size: 40px;
    margin: 40px 0 2px;
  }

  .hero-text p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .hero-text a {
    padding: 10px 20px;
  }

  .hero-text a.ctaa {
    margin-left: 10px;
  }

  .hero-text a i {
    margin-right: 5px;
  }

  .navlist {
    right: -100%;
    width: 100%;
  }

  .navlist a {
    margin: 10px 0;
  }

  .navlist.open {
    right: 0;
  }

  .hero-text {
    padding-top: 80px;
    width: 100%;
    text-align: center;
  }

  .hero-img {
    text-align: center;
  }

  .hero-img img {
    width: 100%;
    height: auto;
  }

  .hero {
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .icons {
    display: none
  }

  
}
